:host {
    background-color: #f5f5f5;
}

.user-info {
    padding: 0 1rem;
}

.user-info .user-avatar {
    padding-top: 8rem;
    display: grid;
    text-align: center;

    ion-avatar {
        margin: 0 auto;
        width: 8rem;
        height: 8rem;
    }
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    ion-button {
        --background: #0D4550;
    }
}

.user-edit-info {
    margin: 2rem 0;
}

.save-button {
    margin: 2rem 0;
    display: flex;
    justify-content: center;

    ion-button {
        --background: #0D4550;
    }
}