@font-face {
    font-family: 'SansPro';
    src: url('../../../assets/fonts/SourceSansPro-Regular.otf');
    font-display: swap;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5em 0 1.5em;
}

.modal-header h2 {
    font-family: 'SansPro';
    font-size: 2rem;
    font-weight: bold;
    color: #424242;
}

.buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.audio-button {
    background-color: transparent;
    padding: 0.5em 0.5em 0.5em 0.5em;
    border-radius: 50%;
    padding-right: 1em;

    mat-icon {
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    color: #c8c8c8;
    transition: color 0.3s ease;
    }

    mat-icon.speaking {
        color: #09BE82;
        animation: pulse 1s infinite ease-in-out;
    }
}

.favorites-button {
    background-color: transparent;;
}

.favorites-button mat-icon {
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    color: #c8c8c8;
}

.modal-info {
    padding: 0 1.5em 0 1.5em;
}

.modal-info p {
    font-family: 'SansPro';
    font-size: 1.1rem;
    text-align: justify;
    color: #424242;
}

.image-container {
    position: relative;
    text-align: center;
    width: 100%;
    margin-bottom: 1rem;
}

img {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: 25vh;
    object-fit: cover;
    border-radius: 0.5em;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    background-color: rgba(255,255,255);
    color: red;
    border: none;
    border-radius: 50%;
    padding: 0.4em 0.6em;
    cursor: pointer;
    z-index: 10;
}

.video-player {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 75%;
    height: 25vh;
    object-fit: cover;
    z-index: 9;
    border-radius: 0.5em;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}