#favorites-container {
  padding-top: 5vh !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2vh;
  align-items: flex-end;
}

#favorites-container strong {
  font-size: 20px;
  line-height: 26px;
}